
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" /> 

<link href='//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic%7CPT+Gudea:400,700,400italic%7CPT+Oswald:400,700,300' rel='stylesheet' id="googlefont" />
<link rel="stylesheet" href="../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}"/>
<link rel="stylesheet" href="../resources/css/font-awesome.min.css" th:href="@{/resources/css/font-awesome.min.css}" />
<link rel="stylesheet" href="../resources/css/sequence-slider.css" th:href="@{/resources/css/sequence-slider.css}" />
 <link rel="stylesheet" href="../resources/css/owl.carousel.css" th:href="@{/resources/css/owl.carousel.css}" />
<link rel="stylesheet" href="../resources/css/style.css" th:href="@{/resources/css/style.css}"/>
<link rel="stylesheet" href="../resources/css/responsive.css" th:href="@{/resources/css/responsive.css}"/>
<link rel="stylesheet" href="../resources/css/custom.css" th:href="@{/resources/css/custom.css}"/>

<link rel="shortcut icon" href="/resources/images/favicon.ico" type="image/x-icon"/>
<link rel="icon" href="/resources/images/favicon.ico" type="image/x-icon"/>
<!-- <link rel="shortcut icon" type="image/icon" href="/resources/images/favicon.ico" th:href="@{/resources/images/favicon.ico}"/> -->

<script src="../resources/js/jquery.js" th:src="@{/resources/js/jquery.js}"></script>
<!--[if lt IE 9]>
	<script src="../resources/js/html5shiv.js" th:src="@{/resources/js/html5shiv.js}"></script>
	<script src="../resources/js/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
