<div th:if="${msg}">
	<div th:if="${msg.type eq 'error'}" class="alert alert-danger" style="margin:10px 0;">
		<span th:text="#{${msg.message}}"></span>
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
	<div th:if="${msg.type eq 'warning'}" class="alert alert-warning" style="margin:10px 0;">
		<span th:text="#{${msg.message}}"></span>
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
	<div th:if="${msg.type eq 'success'}" class="alert alert-success" style="margin:10px 0;">
		<span th:text="#{${msg.message}}"></span>
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>	
</div>