<header id="header">
	<div id="inner-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12 logo-container">
					<div>
						<img src="../resources/images/geeklogo.jpg" th:src="@{/resources/images/geeklogo.jpg}" class="sequencebg-image" width="150" /> <b>Day in History</b>
						<p class="header-text pull-right">Welcome to Day in History
						<span sec:authorize="hasAnyRole('ROLE_USER')"> <span sec:authentication="name">User</span> 
							<a href="/logout" th:href="@{/logout}">Logout</a>
						</span>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div id="main-nav-container">
			<ul class="nav nav-pills">
				<!-- <li sec:authorize="hasAnyRole('ROLE_USER')"><a th:href="@{/admin/category/list}"><b>Category</b></a></li> -->
				<li sec:authorize="hasAnyRole('ROLE_USER')"><a th:href="@{/admin/dayevent}"><b>Published</b></a></li>
				<li sec:authorize="hasAnyRole('ROLE_USER')"><a th:href="@{/admin/newdayevent}"><b>Draft</b></a></li>
			</ul>
		</div>
	</div>
</header>