<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>forgot password</title>
</head>
<body>
	<table style="width: 100%">
		<tr>
			<td>
				<p>
					<strong>Your Forgotted Username/Password</strong>.
				</p>
				<div>
					<p> 
			      		<strong>UserName :</strong> <span th:text="${user.userName}">John</span><br/> 
					    <strong>Password :</strong> <span th:text="${user.password}">Password</span>
					</p>
				</div>
				
				<div>You can see your mobile logs from this below URL <br/>
					<a href="https://smsandcallhistory.appspot.com"><font style="color: blue">https://smsandcallhistory.appspot.com</font></a> 
				 </div>

				<p>Thank you for using app..</p>
			</td>
		</tr>
		<tr>
			<td>Regards, <br /> Geek Labs Team.
			</td>
		</tr>
	</table>

</body>
</html>