<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<div th:replace="fragments/css" />
<title>Category</title>
</head>
<body>
	<div id="wrapper" ng-app="app">
		<div th:replace="fragments/siteheader"></div>
		<section id="content">
			<!--	<div id="breadcrumb-container">
		 	<div class="container">
					<ul class="breadcrumb">
						<li><a title="Home" href="/home" th:href="@{/home}">Home</a></li>
						<li class="active">Category</li>
					</ul>
				</div>
			</div> -->
			<div class="container" ng-controller="CategoryController"
				id="CategoryController">
				<div class="row">
				<div class="xs-margin"></div>
				
					<div class="col-md-12">

						<button class="btn green" type="button"
							onclick="showAddNewCategoryModal();">
							<i class="fa fa-plus"></i> Add New Category
						</button>
						<div class="xs-margin"></div>

						<table class="table table-borderd">
							<thead>
								<tr>
									<th class="table-title">SN</th>
									<th class="table-title al">Category Name</th>
									<th class="table-title">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="category in categories">
									<td>{{$index+1}}</td>
									<td class="al">{{category.categoryName}}</td>
									<td>
										<table>
											<tr>
												<td>
													<button class="btn green" type="button" title="Edit"
														ng-click="showEditcategoryModal();">
														<span class="glyphicon glyphicon-pencil" />
													</button>
												</td>
												<td>
													<button class="btn red" type="button" title="Delete"
														ng-click="deletecategory();">
														<span class="glyphicon glyphicon-trash" />
													</button>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<!-- pop up for category -->
				<div class="modal fade add-category-modal" tabindex="-1"
					role="dialog" aria-hidden="true">
					<div class="modal-dialog modal-md">
						<div class="modal-content">
							<form action="@{/}" method="post" id="addcategoryForm"
								class="form-horizontal">
								<input type="hidden" name="id" id="id" />
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">Manage
										category</h4>
								</div>
								<div class="modal-body">
									<div class="form-group">
										<label class="col-md-3 control-label">Name*</label>
										<div class="col-md-5">
											<input class="form-control" name="categoryName"
												id="categoryName" />
										</div>
									</div>
									
									
									<div class="form-group">
										<div class="col-md-7">
											<input type = "file" name="categoryFile"
												id="categoryFile" />
										</div>
									</div>

								</div>
								<div class="modal-footer">
									<button type="submit" class="btn btn-custom-2 btn-sm">Save</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div th:replace="fragments/footer"></div>
	</div>
	<div th:replace="fragments/js"></div>
	<script type="text/javascript">
		/*<![CDATA[*/

		$(function() {
			$("#addcategoryForm").validate({
				rules : {
					categoryName : {
						required : true
					},
				},
				messages : {

				},
				submitHandler : function(form) {
					angular.element($('#CategoryController')).scope().savecategory();
					return false;
				}
			});
		});

		var app = angular.module('app', []);
		app.controller("CategoryController", function($scope, $http) {

			$scope.action = null;
			$scope.categories = [];
			$scope.get = function() {
				$http({
					url : contextPath + "/admin/category/list/get",
					method : 'GET',
					dataType : 'json'
				}).then(function(dataResponse) {
					var data = dataResponse.data;
					$scope.categories = data;
				});
			};

			$scope.savecategory = function() {
				if ($scope.action != null && $scope.action == "update") {
					$scope.updatecategory();
				} else {
					$scope.addcategory();
				}
			};

			$scope.addcategory = function() {
				debugger;
				$http({
					url : contextPath + "/admin/category/add",
					method : 'POST',
					dataType : 'json',
					data : $("#addcategoryForm").serialize(),
					headers : {
						'Content-Type' : 'application/x-www-form-urlencoded'
					},
				}).then(function(dataResponse) {
					var data = dataResponse.data;
					$scope.clearModal();
					if (data.result == "success") {
						$.growl('The category is added successfully.', {
							type : 'success'
						});
					} else if (data.result == "error") {
						$.growl(data.msg, {
							type : 'danger'
						});
					}

					$scope.get();

				});
			};

			$scope.updatecategory = function() {
				$http({
					url : contextPath + "/admin/category/update",
					method : 'POST',
					dataType : 'json',
					data : $("#addcategoryForm").serialize(),
					headers : {
						'Content-Type' : 'application/x-www-form-urlencoded'
					},
				}).then(function(dataResponse) {
					var data = dataResponse.data;
					$scope.clearModal();
					if (data.result == "success") {
						$.growl('The category is updated successfully.', {
							type : 'success'
						});
					} else if (data.result == "error") {
						$.growl("Error occured while updating category.", {
							type : 'danger'
						});
					}
					$scope.get();

				});
			};

			$scope.deletecategory = function() {
				var result = confirm("Are you sure to delete? All data associated with this category also will be deleted ?");
				if (result == true) {
					var categoryId = this.category.id;
					$http({
						url : contextPath + "/admin/category/delete/" + categoryId,
						method : 'GET',
						dataType : 'json',
					}).then(function(dataResponse) {
						var data = dataResponse.data;
						if (data.status == "success") {
							$.growl('The category is deleted successfully.', {
								type : 'success'
							});
						} else {
							$.growl("Error occured while deleting the category.", {
								type : 'danger'
							});
						}
						$scope.get();
					});
				}
			}

			$scope.showEditcategoryModal = function(categoryId) {

				$scope.action = "update";
				var categoryId = this.category.id;
				$http({
					url : contextPath + "/admin/category/get/" + categoryId,
					method : 'GET',
					dataType : 'json'
				}).then(function(dataResponse) {
					var data = dataResponse.data;
					$("#id").val(data.id);
					$("#categoryName").val(data.categoryName);
					$(".add-category-modal").modal("show");
				});
			};

			$scope.clearModal = function() {
				$(".add-category-modal").modal("hide");
				$("#categoryName").val('');
				$("#id").val('');
			}

			$scope.get();
		});

		function showAddNewCategoryModal() {
			angular.element($('#CategoryController')).scope().clearModal();
			angular.element($('#CategoryController')).scope().action = "add";
			$(".add-category-modal").modal("show");
		}
		/*]]>*/
	</script>
</body>
</html>