<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/css" />
<title>Day Event</title>
</head>
<body>
	<div id="wrapper" ng-app="app">
		<div th:replace="fragments/siteheader"></div>
		<section id="content">
			<div class="container" ng-controller="DayEventController" id="DayEventController">
				<!-- <div class="row">
					Search filter starts
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">Search By</h3>
						</div>
						<div class="md-margin"></div>
						<div class="input-group">
							<span class="input-group-addon"><span class="col-md-10 col-sm-10">dayevent Name</span></span>
							<span class="col-md-10 col-sm-10"> <input type="text" class="form-control"
								ng-model="dayeventName" placeholder="Enter Candidate Name starts with"
								data-ng-change="filterList()" />
							</span>
						</div>
					</div>
				</div> -->
				<div class="row">
					<div class="col-md-12">
						<div class="">
							<p>
								<a th:href="@{/admin/dayevent/add}" class="btn btn-success btn-lg" role="button"> <span
									class="glyphicon glyphicon-plus"></span>&nbsp;Add Event
								</a>
							</p>
						</div>
						<div class="xs-margin"></div>
						<img id="spinner" ng-src="/resources/images/loading.GIF" class="ajax-loader"
							style="display: none;" />

						<table class="table table-borderd">
							<thead>
								<tr>
									<th class="table-title">SN</th>
									<th class="table-title">Description</th>
									<th class="table-title al">Category</th>
									<th class="table-title al">Location</th>
									<th class="table-title al">Event Date</th>
									<th class="table-title al">Picture</th>
									<th class="table-title">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="dayevent in dayevents">
									<td>{{$index+1}}</td>
									<td class="al">{{dayevent.content}}</td>
									<td class="al">{{dayevent.categoryName}}</td>
									<td class="al" style="width: 200px; word-wrap: break-word;">{{dayevent.city}}, 
										{{dayevent.state}}, {{dayevent.country}}</td>
										<td class="al">{{dayevent.eventDate}}</td>
									<td class="al">
										<div class="sequencebg" ng-if="dayevent.dayEventImagePath != null">
											<img src="/doc/get/{{dayevent.dayEventImagePath}}" width="50" height="50" />
										</div>
										<!-- <div class="sequencebg" ng-if="dayevent.dayEventImagePath == null">
											<img src="/resources/images/blog/user.jpg" width="50" height="50" />
										</div> -->
									</td>
									<!-- new td -->
									<td>
										<table>
											<tr>
												<td>
													<div class="btn green">
														<a th:href="@{/admin/dayevent/update/{{dayevent.id}}}" role="button"><span
															class="glyphicon glyphicon-pencil" ></span></a>
													</div>
												</td>
												<td>
													<div>
														<button class="btn red" type="button" title="Delete" ng-click="deleteDayEvent();">
															<span class="glyphicon glyphicon-trash" />
														</button>
													</div>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>

		<div th:replace="fragments/footer"></div>
	</div>
	<div th:replace="fragments/js"></div>
	<script type="text/javascript">
		/*<![CDATA[*/

		var app = angular.module('app', []);
		// for loading 
		app.config(function($httpProvider) {
			$httpProvider.responseInterceptors.push('myHttpInterceptor');

			var spinnerFunction = function spinnerFunction(data, headersGetter) {
				$("#spinner").show();
				return data;
			};

			$httpProvider.defaults.transformRequest.push(spinnerFunction);
		});

		app.factory('myHttpInterceptor', function($q, $window) {
			return function(promise) {
				return promise.then(function(response) {
					$("#spinner").hide();
					return response;
				}, function(response) {
					$("#spinner").hide();
					return $q.reject(response);
				});
			};
		});

		app.controller("DayEventController", function($scope, $http) {

			$scope.action = null;
			$scope.dayevents = [];
			$scope.get = function() {
				$http({
					url : contextPath + "/admin/dayevent/list/get",
					method : 'GET',
					dataType : 'json'
				}).then(function(dataResponse) {
					var data = dataResponse.data;
					$scope.dayevents = data;
				});
			};

			/* $scope.showEditdayeventModal = function() {

				$scope.action = "update";
				var dayeventId = this.dayevent.id;
				$http({
					url : contextPath + "/dayevent/update/" + dayeventId,
					method : 'GET',
					dataType : 'json'
				}).then(function(dataResponse) {
					var data = dataResponse.data;
				});
			}; */

			$scope.deleteDayEvent = function() {
				var result = confirm("Want to delete?");
				if (result == true) {
					var dayeventId = this.dayevent.id;
					$http({
						url : contextPath + "/admin/dayevent/delete/" + dayeventId,
						method : 'GET',
						dataType : 'json',
					}).then(function(dataResponse) {
						var data = dataResponse.data;
						if (data.status == "success") {
							$.growl('The dayevent is deleted successfully.', {
								type : 'success'
							});
						} else {
							$.growl("Error occured while deleting the dayevent.", {
								type : 'danger'
							});
						}
						$scope.get();
					});
				}
			}

			/* $scope.filterList = function() {
				if ($scope.dayeventName) {
					$http({
						url : contextPath + "/dayevent/filter/" + $scope.dayeventName,
						method : 'GET',
						dataType : 'json'
					}).then(function(dataResponse) {
						var data = dataResponse.data;
						$scope.dayevents = data;
					});
				} else {
					$scope.get();
				}
			}; */

			$scope.get();
		});
		/*]]>*/
	</script>
</body>
</html>