
<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]> <html class="ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<div th:replace="fragments/css" />
<title>My Account</title>
</head>
<body>
	<div id="wrapper" ng-app="app">
		<div th:replace="fragments/siteheader"></div>
		<section id="content">
			
			<div class="container" ng-controller="MyAccountController"
				id="MyAccountController">
				<div class="row">
				<div class="md-margin"></div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<fieldset>
							<div class="sequencebg" ng-if="user.picUrl != null">
								<img ng-src= "{{user.picUrl}}" width="150" height="150" />
							</div>
							<div class="sequencebg" ng-if="user.picUrl == null ">
								<img th:src="@{/resources/images/blog/user.jpg}" width="150"
									height="150" />
							</div>
							<div class="md-margin"></div>
							<fieldset>
							<button class="orange" type="button" title="Change Password"
								onclick="showChangePasswordModal();">
								<span class="glyphicon glyphicon-pencil" />Change Password
							</button>
						</fieldset>
							<h1 class="sub-title">User Info</h1>
							<div class="input-group">
								<span class="input-group-addon"><span class=""></span><span
									class="input-text">User Name: </span></span><span
									class="navbar-text"> {{user.userName}} </span>
							</div>
							<div class="input-group">
								<span class="input-group-addon"><span class=""></span><span
									class="input-text">Email: </span></span> <span
									class="navbar-text">{{user.email}}</span>
							</div>
						</fieldset>
					</div>
					
				</div>

				<!-- Change pwd -->
				<div class="modal fade change-pwd-modal" tabindex="-1" role="dialog"
					aria-hidden="true">
					<div class="modal-dialog modal-md">
						<div class="modal-content">
							<form action="@{/}" method="post" id="changePwdForm"
								class="form-horizontal">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">Change Password</h4>
								</div>
								<div class="modal-body">
									<div class="form-group">
										<label class="col-md-3 control-label">Current
											Password* </label>
										<div class="col-md-7">
											<input type="password" class="form-control" name="password" id="password" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">New Password* </label>
										<div class="col-md-7">
											<input type="password" class="form-control" name="newPwd" id="newPwd" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Confirm
											Password* </label>
										<div class="col-md-7">
											<input type="password" class="form-control" name="confirmPwd" id="confirmPwd" />
										</div>
									</div>
									<div class="modal-footer">
									<button type="submit" class="btn btn-custom-2 btn-sm">Apply</button>
								</div>
								</div>
							</form>
						</div>
					</div>
				</div>


			</div>
		</section>
		<div th:replace="fragments/footer"></div>
	</div>
	<div th:replace="fragments/js"></div>
	<script type="text/javascript">
		/*<![CDATA[*/
		$(function() {
			$("#changePwdForm").validate({
				rules : {
					password : {
						required : true
					},
					newPwd : {
						required : true
					},
					confirmPwd : {
						required : true
					},
				},
				submitHandler : function(form) {
					angular.element($('#MyAccountController')).scope().changePwd();
					return false;
				}
			});
		});

		function showChangePasswordModal() {
			$("#password").val('');
			$("#newPwd").val('');
			$("#confirmPwd").val('');

			$(".change-pwd-modal").modal("show");
		}

		var app = angular.module('app', []);
		app.controller("MyAccountController", function($scope, $http) {
			$scope.user = '';
			$scope.get = function() {
				debugger;
				$http({
					url : contextPath + "/user/myAccount/getUserInfo",
					method : 'GET',
					dataType : 'json'
				}).then(function(dataResponse) {
					var data = dataResponse.data;
					$scope.user = data;
				});
			};

			// Load user
			$scope.get();
			
			$scope.changePwd = function() {
				debugger;
				$http({
					url : contextPath + "/user/myAccount",
					method : 'POST',
					dataType : 'json',
					data : $("#changePwdForm").serialize(),
					headers : {
						'Content-Type' : 'application/x-www-form-urlencoded'
					},
				}).then(function(dataResponse) {
					var data = dataResponse.data;
					if (data.status == "success") {
						$.growl('Password has been is updated successfully.', {
							type : 'success'
						});
						$(".change-pwd-modal").modal("hide");
						$("#password").val('');
						$("#newPwd").val('');
						$("#confirmPwd").val('');
					} else if (data.status == "mismatch") { 
						$.growl('Password mismatch.', {
							type : 'danger'
						});
					} else {
						$.growl("Error occured while updating Password.", {
							type : 'danger'
						});
					}

				});
			};
		});
		/*]]>*/
	</script>
</body>
</html>