<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/css" />
<title>New Day Event</title>
</head>
<body>
	<div id="wrapper" ng-app="app">
		<div th:replace="fragments/siteheader"></div>
		<section id="content">
			<div class="container" ng-controller="NewDayEventController" id="NewDayEventController">
				<div class="row">
					<div class="col-md-12">
						<div class="xs-margin"></div>
						<img id="spinner" ng-src="/resources/images/loading.GIF"
							class="ajax-loader" style="display: none;" />

						<table class="table table-borderd">
							<thead>
								<tr>
									<th class="table-title">SN</th>
									<th class="table-title">Description</th>
									<th class="table-title al">Category</th>
									<th class="table-title al">Location</th>
									<th class="table-title al">Date</th>
									<!-- <th class="table-title al">Event Date</th>
									<th class="table-title al">Created Date</th> -->
									<th class="table-title al">Weight</th>
									<th class="table-title al">Name and Email</th>
									<th class="table-title">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="newdayevent in newdayevents">
									<td>{{$index+1}}</td>
									<td class="al">{{newdayevent.content}}</td>
									<td class="al">{{newdayevent.categoryName}}</td>
									<td class="al" style="width: 200px; word-wrap: break-word;">{{newdayevent.city}}</td>
									<td class="al">Created Date : {{newdayevent.createdDate}}<br/>Event Date :{{newdayevent.eventDate}}</td>
									<!-- <td class="al">{{newdayevent.eventDate}}</td>
									<td class="al">{{newdayevent.createdDate}}</td> -->
									<td class="al">{{newdayevent.weight}}</td>
									<!-- <td class="al">{{newdayevent.userName}}</br>{{newdayevent.email}}</td> -->
									<td class="al">{{newdayevent.userName}}, <br/>{{newdayevent.email}}</td>
									
									<!-- new td -->
									<td>
										<table>
											<tr>
												<td>
													<div class="btn green">
														<a
															th:href="@{/admin/newdayevent/update/{{newdayevent.id}}}"
															role="button"><span
															class="glyphicon glyphicon-pencil"></span></a>
													</div>
												</td>
												<td>
													<div>
														<button class="btn red" type="button" title="Delete"
															ng-click="deleteNewDayEvent();">
															<span class="glyphicon glyphicon-trash" />
														</button>
													</div>
												</td>
												
												<td>
													<div>
														<button class="btn green" type="button" title="publish"
															ng-click="publishEvent();">
															<span class="glyphicon glyphicon-pencil"></span>
														</button>
													</div>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>

		<div th:replace="fragments/footer"></div>
	</div>
	<div th:replace="fragments/js"></div>
	<script type="text/javascript">
		/*<![CDATA[*/

		var app = angular.module('app', []);
		// for loading 
		app
				.config(function($httpProvider) {
					$httpProvider.responseInterceptors
							.push('myHttpInterceptor');

					var spinnerFunction = function spinnerFunction(data,
							headersGetter) {
						$("#spinner").show();
						return data;
					};

					$httpProvider.defaults.transformRequest
							.push(spinnerFunction);
				});

		app.factory('myHttpInterceptor', function($q, $window) {
			return function(promise) {
				return promise.then(function(response) {
					$("#spinner").hide();
					return response;
				}, function(response) {
					$("#spinner").hide();
					return $q.reject(response);
				});
			};
		});

		app
				.controller(
						"NewDayEventController",
						function($scope, $http) {

							$scope.action = null;
							$scope.newdayevents = [];
							$scope.get = function() {
								$http(
										{
											url : contextPath
													+ "/admin/newdayevent/list/get",
											method : 'GET',
											dataType : 'json'
										}).then(function(dataResponse) {
									var data = dataResponse.data;
									$scope.newdayevents = data;
								});
							};

							/* $scope.showEditnewdayeventModal = function() {

								$scope.action = "update";
								var newdayeventId = this.newdayevent.id;
								$http({
									url : contextPath + "/newdayevent/update/" + newdayeventId,
									method : 'GET',
									dataType : 'json'
								}).then(function(dataResponse) {
									var data = dataResponse.data;
								});
							}; */

							$scope.deleteNewDayEvent = function() {
								var result = confirm("Want to delete?");
								if (result == true) {
									var newdayeventId = this.newdayevent.id;
									$http(
											{
												url : contextPath + "/admin/newdayevent/delete/" + newdayeventId,
												method : 'GET',
												dataType : 'json',
											})
											.then(
													function(dataResponse) {
														var data = dataResponse.data;
														if (data.status == "success") {
															$
																	.growl(
																			'The newdayevent is deleted successfully.',
																			{
																				type : 'success'
																			});
														} else {
															$
																	.growl(
																			"Error occured while deleting the newdayevent.",
																			{
																				type : 'danger'
																			});
														}
														$scope.get();
													});
								}
							}

							$scope.publishEvent = function() {
								var result = confirm("Want to publish?");
								if (result == true) {
									var newdayeventId = this.newdayevent.id;
									$http(
											{
												url : contextPath
														+ "/admin/newdayevent/publish/"
														+ newdayeventId,
												method : 'GET',
												dataType : 'json',
											})
											.then(
													function(dataResponse) {
														var data = dataResponse.data;
														if (data.status == "success") {
															$
																	.growl(
																			'The newdayevent is published as day event',
																			{
																				type : 'success'
																			});
														} else {
															$
																	.growl(
																			"Error occured while publishing the newdayevent.",
																			{
																				type : 'danger'
																			});
														}
														$scope.get();
													});
								}
							}
							$scope.get();
						});
		/*]]>*/
	</script>
</body>
</html>