<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]> <html class="ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<div th:replace="fragments/css" />
<title>Add Day Event</title>
</head>
<body>
	<div id="wrapper">
		<div th:replace="fragments/siteheader"></div>
		<section id="content">
			<!-- <div id="breadcrumb-container">
				<div class="container">
					<ul class="breadcrumb">
						<li><a title="Home" href="/home" th:href="@{/home}">Home</a></li>
						<li class="active">Student Registration</li>
					</ul>
				</div>
			</div> -->
			<div class="container clearfix">
				<div class="row">
					<div class="col-md-12">
						<form action="#" th:action="@{/admin/dayevent/add}"
							th:object="${dayEvent}" method="post" id="dayevent-add-form"
							enctype="multipart/form-data">
						<header class="content-title">
							<h3 class="title">Add Day Event
							<button th:unless="*{readOnly}" class="btn btn-custom-2"
										type="submit">Add</button>
							</h3>
							<div class="md-margin"></div>
						</header>
						<div th:replace="fragments/errormessage"></div>
							<!-- hidden field required for edit mode -->
							<input type="hidden" th:field="*{id}" />
							<!-- Upload documents path  -->
							<input type="hidden" th:field="*{dayEventImagePath}" />
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-12">
									<fieldset>
										<div class="sequencebg"
											th:if="${dayEvent.dayEventImagePath} != null">
											<img th:src="@{/doc/get/__${dayEvent.dayEventImagePath}__}"
												width="100" height="100" />
										</div>
										<div class="sequencebg"
											th:if="${dayEvent.dayEventImagePath} == null ">
											<img th:src="@{/resources/images/blog/user.jpg}" width="100"
												height="100" />
										</div>
										<div class="md-margin"></div>

											<!-- categories -->
										<div class="input-group"
											sec:authorize="hasAnyRole('ROLE_USER')">
											<span class="input-group-addon"><span class=""></span><span
												class="input-text">Category</span></span><select
												class="form-control" th:disabled="*{readOnly}"
												th:field="*{categoryName}" th:readonly="*{readOnly}">
												<option value="">Select Category</option>
												<option th:each="category : ${categories}"
													th:value="${category}"
													th:text="${category}"></option>
											</select>
										</div>
										
										
										<!-- city -->
										
										<div class="input-group"
											sec:authorize="hasAnyRole('ROLE_USER')">
											<span class="input-group-addon"><span class=""></span><span
												class="input-text">City</span></span><select
												class="form-control" th:disabled="*{readOnly}"
												th:field="*{city}" th:readonly="*{readOnly}">
												<option value="">Select Country</option>
												<option th:each="city : ${cities}"
													th:value="${city}"
													th:text="${city}"></option>
											</select>
										</div>
										
										<!-- content -->
										<div class="input-group">
											<span class="input-group-addon"><span class=""></span><span
												class="input-text">Description</span></span> <input type="text"
												class="form-control" th:field="*{content}"
												th:readonly="*{readOnly}" />
										</div>
										
										<div class="input-group">
											<span class="input-group-addon"><span class=""></span><span
												class="input-text">Event occured Date</span></span> <input type="date"
												class="form-control" th:field="*{eventDate}"
												th:readonly="*{readOnly}" />
										</div>
										<div class="input-group">
											<span class="input-group-addon"><span class=""></span><span
												class="input-text">Upload Event Image</span></span> <input type="file"
												class="form-control" th:field="*{dayEventImageFile}"
												th:readonly="*{readOnly}" />
										</div>

										<div class="input-group">
											<span class="input-group-addon"><span class=""></span><span
												class="input-text">Email*</span></span> <input type="text"
												class="form-control" th:field="*{email}"
												th:readonly="*{readOnly}" />
										</div>
										<div class="input-group">
											<span class="input-group-addon"><span class=""></span><span
												class="input-text">Enter Name*</span></span> <input type="text"
												class="form-control" th:field="*{userName}"
												th:readonly="*{readOnly}" />
										</div>
										
										
									</fieldset>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-12" th:unless="*{readOnly}">
									<fieldset class="half-margin">
										<button class="btn btn-custom-2" type="submit">Add</button>
									</fieldset>
								</div>
							</div>
						</form>
						<div class="lg-margin"></div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div th:replace="fragments/js"></div>
	<script type="text/javascript">
		/*<![CDATA[*/

		// Alternative date picker for not supported date inout type. For example firefox           
		$('#dateOfBirth').datepicker({maxDate: new Date});
		
		$('#addEducationFile').click(function() {
			var fileIndex = $('#fileTable tr').children().length;
			$('#fileTable').append('<tr><td>' + '   <input type="file" name="education['+ fileIndex +']" />' + '</td></tr>');
		});

		$(function() {
			$("#dayevent-add-form").validate({
				rules : {
					/* candidateName : {
						required : true
					},
					fatherName : {
						required : true
					},
					motherName : {
						required : true
					},
					dateOfBirth : {
						required : true,
						nowhitespace : true
					},
					community : {
						required : true
					},
					physicalstatus : {
						required : true
					},
					address : {
						required : true,
					},
					contact1 : {
						required : true,
						minlength : 10,
						maxlength : 11
					},
					contact2 : {
						required : false,
						minlength : 10,
						maxlength : 11
					},
					fatherContact : {
						required : false,
						minlength : 10,
						maxlength : 11
					},
					gender : {
						required : true
					},
					studentHouseNumber : {
						required : true
					},
					street : {
						required : true
					},
					mandal : {
						required : true
					},
					district : {
						required : true
					},
					pincode : {
						required : true,
						minlength : 6,
						maxlength : 6
					},
					ifsc : {
						required : false,
						nowhitespace : true
					},
					rationCardNumber : {
						required : false,
						nowhitespace : true
					},
					adharCardNumber : {
						required : false,
						nowhitespace : true
					},
					physicalStatusCertificate : {
						required : true
					},
					eduQualification : {
						required : true
					},
					maritalStatus : {
						required : true
					},
					candidateState : {
						required : true
					}, */
				},
				errorPlacement : function(error, element) {
					error.insertBefore($(element).closest(".input-group"));
				},
				submitHandler : function(form) {
					$("#dayevent-add-form").unbined("submit").submit();
				}
			});
		});

		/*]]>*/
	</script>

</body>
</html>